:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Helvetica";
}

body {
  min-height: 100vh;
  background-color: #f2f2fc;
  color: #101214;
}

h1 {
  font-size: 4.8rem;
}

main {
  height: 100vh;
  padding: 4rem 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  display: flex;
  gap: 2.4rem;
}

.content-container h1 {
  margin-block: 2.4rem;
  max-width: 40rem;
}

.content-container img {
  width: 20rem;
}
