.container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &>h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
}

.status-items {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.progress-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &>progress {
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 999px;
    overflow: hidden;

    &::-webkit-progress-bar {
      background: #E3E3ED;
    }

    &::-moz-progress-bar {
      background: #E3E3ED;
    }

    &[data-is-healthy="true"] {
      &::-webkit-progress-value {
        background: rgb(24, 221, 73);
      }
    }

    &[data-is-healthy="false"] {
      &::-webkit-progress-value {
        background: rgb(221, 24, 24);
      }
    }
  }

}

.progress-bar-info {
  display: flex;
  justify-content: space-between;
}